.attribution {
	align-content: end;
	color: white;
	font-family: "Poppins", sans-serif;
}

.background {
	align-content: stretch;
	height: 100%;
	width: 100%;
}

.community {
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.flexbox_container {
	flex: auto;
	max-width: 100%;
}

.flexbox_container_inner_left {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 2rem;
	margin-top: 5rem;
	max-width: 100%;
	min-width: 40%;
}

.flexbox_container_inner_right {
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 2rem;
	margin-top: 7rem;
	max-width: 100%;
}

.flexbox_container_main {
	display: flex;
	max-height: 100%;
}

.flexbox_item {
	display: flex;
}

.flexbox_item_1 {
	align-items: center;
	align-self: stretch;
	height: max-content;
	max-width: 70%;
	width: 60%;
}

.flexbox_item_2 {
	align-items: center;
	align-self: stretch;
	height: max-content;
	max-width: 100%;
	width: fit-content;
}

.flexbox_item_3 {
	align-items: center;
	align-self: stretch;
	height: max-content;
	max-width: 100%;
	width: fit-content;
}

.Huddle {
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}

.img_logo {
	display: flex;
	height: auto;
	max-width: 100%;
	src: "../images/logo.svg";
}

.inner_flex_1 {
	height: 100px;
	src: "../images/illustraion-mockups.svg";
}

.mockups {
	display: flex;
	max-width: 100%;
	width: 10px;
}

.reg_button {
	border-radius: 2rem;
	color: indigo;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	height: 3rem;
	width: 10rem;
}

.reg_button:hover {
	background-color: violet;
}

@media (max-width: 40rem) {
	.flexbox_container_main
	{
		align-items: center;
		flex-direction: column;
	}

	footer
	{
		min-height: 5rem;
	}
}

html {
	background: url('../images/bg-desktop.svg');
	background-color: #674baf;
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	width: 100%;
}