html{
    background: url('../images/bg-desktop.svg'); 
    background-color: #674baf;
    background-repeat: no-repeat;
    background-size: cover;

}

.attribution{
    font-family: "Poppins", sans-serif;
    color: white;
    align-content: end;
}

.background{
	align-content: stretch;
	/* background: url('../images/bg-desktop.svg'); */ 
	height: 100%;
	width: 100%;
}

.community{
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 2.5rem;
	font-weight: bold;
}

.flexbox-container-inner-left{
	align-items: flex-start;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	margin-top: 5rem;
	width: 100%;
}

.flexbox-container-inner-right{
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	margin-top: 7rem;
	padding-left: 25rem;
	width: 100%;
}
.flexbox-container-bottom-right{
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	margin-top: 7rem;
	padding-left: 25rem;
	width: 100%;
}

.flexbox-container-main{
	background-image: url("./images/bg-desktop");
	display: flex;
	flex-direction: row;
	max-height: 100%;
}

.flexbox-item{
	display: flex;
	width: 10%;
}

.flexbox-item-1{
	align-items: center;
	align-self: stretch;
	height: max-content;
	max-width: 70%;
	width: 60%;
}

.flexbox-item-2{
	align-items: center;
	align-self: stretch;
	height: max-content;
	max-width: 50%;
	width: 40%;
}

.flexbox-item-3{
	align-items: center;
	align-self: stretch;
	height: max-content;
	width: max-content;
}

.flexbox-item-4{
	align-items: center;
	align-self: stretch;
	height: max-content;
	margin-top: 2rem;
	width: max-content;
}

.flexbox-item-5{
	height: max-content;
	width: max-content;
}
.flexbox-item-6{
	align-items: center;
	align-self: stretch;
	height: max-content;
	width: max-content;
}

.flexbox-item-7{
    display: flex;
    flex-direction: column;
	align-self:  flex-end; 
	height: 100%;
	width: 100%;
}

.butFav{
    margin-top: auto;
    max-height: max-content;
    max-width: max-content;
    min-width: none;
    align-content: center; 
    background-color: transparent;
}

.butFav:hover{
    color: violet;
}

.Huddle{
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}

.img_logo{
	display: flex;
	height: auto;
	width: 100%;
}

.img_logo{
	src: "../images/logo.svg";
}

.inner-flex-1{
	height: 100px;
    src: "../images/illustraion-mockups.svg";
}

.mockups{
	display: flex;
	max-width: 100%;
	width: 10px;
}

.regButton{
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    color: indigo;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.regButton:hover{
    background-color: violet;
}


